@charset "UTF-8";

@font-face {
	font-family: "MagnoliaIcons";
	src: url('fonts/MagnoliaIcons.woff?s4m9sc') format("woff");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .MagnoliaIcons {
	font-family: MagnoliaIcons !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-appslauncher:before {
	content: "\e000";
}

.icon-pulse:before {
	content: "\e001";
}

.icon-favorites:before {
	content: "\e002";
}

.icon-rssfeed:before {
	content: "\e003";
}

.icon-webpages-app:before {
	content: "\e004";
}

.icon-assets-app:before {
	content: "\e005";
}

.icon-documents-app:before {
	content: "\e006";
}

.icon-news:before {
	content: "\e007";
}

.icon-people:before {
	content: "\e008";
}

.icon-companies:before {
	content: "\e009";
}

.icon-items:before {
	content: "\e00a";
}

.icon-files:before {
	content: "\e00b";
}

.icon-contents:before {
	content: "\e00c";
}

.icon-content-app:before {
	content: "\e00d";
}

.icon-configuration-app:before {
	content: "\e00e";
}

.icon-security-app:before {
	content: "\e010";
}

.icon-jcr-app:before {
	content: "\e011";
}

.icon-logging-app:before {
	content: "\e012";
}

.icon-audit-app:before {
	content: "\e013";
}

.icon-import-export-app:before {
	content: "\e014";
}

.icon-language-app:before {
	content: "\e015";
}

.icon-packager-app:before {
	content: "\e016";
}

.icon-backup-app:before {
	content: "\e017";
}

.icon-folder:before {
	content: "\e018";
}

.icon-file:before {
	content: "\e019";
}

.icon-file-text:before {
	content: "\e01a";
}

.icon-file-word:before {
	content: "\e01b";
}

.icon-file-excel:before {
	content: "\e01c";
}

.icon-file-powerpoint:before {
	content: "\e01d";
}

.icon-file-pdf:before {
	content: "\e01e";
}

.icon-file-webpage:before {
	content: "\e01f";
}

.icon-file-image:before {
	content: "\e020";
}

.icon-file-video:before {
	content: "\e021";
}

.icon-file-audio:before {
	content: "\e022";
}

.icon-content-item:before {
	content: "\e023";
}

.icon-work-item:before {
	content: "\e024";
}

.icon-user-me:before {
	content: "\e025";
}

.icon-user-anyone:before {
	content: "\e026";
}

.icon-user-magnolia:before {
	content: "\e027";
}

.icon-user-system:before {
	content: "\e028";
}

.icon-user-public:before {
	content: "\e029";
}

.icon-user-group:before {
	content: "\e02a";
}

.icon-user-role:before {
	content: "\e02b";
}

.icon-node-folder:before {
	content: "\e02c";
}

.icon-node-content:before {
	content: "\e02d";
}

.icon-node-data:before {
	content: "\e02e";
}

.icon-action:before {
	content: "\e02f";
}

.icon-switch-preview:before {
	content: "\e030";
}

.icon-switch-edit:before {
	content: "\e031";
}

.icon-switch-review:before {
	content: "\e032";
}

.icon-open-fullscreen:before {
	content: "\e033";
}

.icon-close-fullscreen:before {
	content: "\e034";
}

.icon-show-changes:before {
	content: "\e035";
}

.icon-hide-changes:before {
	content: "\e036";
}

.icon-add-file:before {
	content: "\e037";
}

.icon-add-folder:before {
	content: "\e038";
}

.icon-delete:before {
	content: "\e039";
}

.icon-edit:before {
	content: "\e03a";
}

.icon-move:before {
	content: "\e03b";
}

.icon-view:before {
	content: "\e03c";
}

.icon-copy:before {
	content: "\e03d";
}

.icon-paste:before {
	content: "\e03e";
}

.icon-duplicate:before {
	content: "\e03f";
}

.icon-publish:before {
	content: "\e040";
}

.icon-publish-incl-sub:before {
	content: "\e041";
}

.icon-unpublish:before {
	content: "\e042";
}

.icon-mark:before {
	content: "\e043";
}

.icon-unmark:before {
	content: "\e044";
}

.icon-share:before {
	content: "\e045";
}

.icon-add-node-content:before {
	content: "\e046";
}

.icon-add-node-data:before {
	content: "\e047";
}

.icon-undo:before {
	content: "\e048";
}

.icon-redo:before {
	content: "\e049";
}

.icon-add-fav:before {
	content: "\e04a";
}

.icon-remove-fav:before {
	content: "\e04b";
}

.icon-import:before {
	content: "\e04c";
}

.icon-export:before {
	content: "\e04d";
}

.icon-upload:before {
	content: "\e04e";
}

.icon-download:before {
	content: "\e04f";
}

.icon-open-new-window:before {
	content: "\e050";
}

.icon-view-tree:before {
	content: "\e051";
}

.icon-view-list:before {
	content: "\e052";
}

.icon-view-thumbnails:before {
	content: "\e053";
}

.icon-search:before {
	content: "\e054";
}

.icon-arrow1_e:before {
	content: "\e055";
}

.icon-arrow1_n:before {
	content: "\e056";
}

.icon-arrow1_s:before {
	content: "\e057";
}

.icon-arrow1_w:before {
	content: "\e058";
}

.icon-slider-handle:before {
	content: "\e059";
}

.icon-slider-max:before {
	content: "\e05a";
}

.icon-slider-min:before {
	content: "\e05b";
}

.icon-slider-rail:before {
	content: "\e05c";
}

.icon-arrow2_e:before {
	content: "\e05d";
}

.icon-arrow2_n:before {
	content: "\e05e";
}

.icon-arrow2_s:before {
	content: "\e05f";
}

.icon-arrow2_w:before {
	content: "\e060";
}

.icon-confirm-tick:before {
	content: "\e061";
}

.icon-confirm:before {
	content: "\e062";
}

.icon-error-mark:before {
	content: "\e063";
}

.icon-error:before {
	content: "\e064";
}

.icon-warning-mark:before {
	content: "\e065";
}

.icon-warning:before {
	content: "\e066";
}

.icon-info_mark:before {
	content: "\e067";
}

.icon-info:before {
	content: "\e068";
}

.icon-help-mark:before {
	content: "\e069";
}

.icon-help:before {
	content: "\e06a";
}

.icon-checkbox_off:before {
	content: "\e06b";
}

.icon-checkbox_on:before {
	content: "\e06c";
}

.icon-checkbox-tick:before {
	content: "\e06d";
}

.icon-radio-dot:before {
	content: "\e06e";
}

.icon-radio-off:before {
	content: "\e06f";
}

.icon-radio-on:before {
	content: "\e070";
}

.icon-datepicker:before {
	content: "\e071";
}

.icon-trash:before {
	content: "\e072";
}

.icon-wizard-step:before {
	content: "\e073";
}

.icon-open-fullscreen-2:before {
	content: "\e074";
}

.icon-close-fullscreen-2:before {
	content: "\e075";
}

.icon-spinner-1:before {
	content: "\e076";
}

.icon-spinner-2:before {
	content: "\e077";
}

.icon-spinner-3:before {
	content: "\e078";
}

.icon-spinner-4:before {
	content: "\e079";
}

.icon-spinner-5:before {
	content: "\e07a";
}

.icon-spinner-6:before {
	content: "\e07b";
}

.icon-spinner-7:before {
	content: "\e07c";
}

.icon-spinner-8:before {
	content: "\e07d";
}

.icon-spinner-full:before {
	content: "\e07e";
}

.icon-notification-badge-plus:before {
	content: "\e07f";
}

.icon-notification-badge:before {
	content: "\e080";
}

.icon-tick:before {
	content: "\e081";
}

.icon-close:before {
	content: "\e082";
}

.icon-app:before {
	content: "\e083";
}

.icon-instant_preview:before {
	content: "\e084";
}

.icon-development-app:before {
	content: "\e085";
}

.icon-add-item:before {
	content: "\e086";
}

.icon-articles-app:before {
	content: "\e087";
}

.icon-forums:before {
	content: "\e088";
}

.icon-asset-pool:before {
	content: "\e089";
}

.icon-folder-l:before {
	content: "\e08a";
}

.icon-node-folder-l:before {
	content: "\e08b";
}

.icon-edit-wo:before {
	content: "\e08c";
}

.icon-crop-image:before {
	content: "\e08d";
}

.icon-rotate-image-cw:before {
	content: "\e08e";
}

.icon-rotate-image-ccw:before {
	content: "\e08f";
}

.icon-flip-horizontally:before {
	content: "\e090";
}

.icon-flip-vertically:before {
	content: "\e091";
}

.icon-zoom-to-fit:before {
	content: "\e092";
}

.icon-fit-canvas:before {
	content: "\e093";
}

.icon-view-in-actual-size:before {
	content: "\e094";
}

.icon-cache-app:before {
	content: "\e095";
}

.icon-server-config-info:before {
	content: "\e096";
}

.icon-reserve:before {
	content: "\e097";
}

.icon-status-green:before {
	content: "\e098";
}

.icon-status-orange:before {
	content: "\e099";
}

.icon-status-red:before {
	content: "\e09a";
}

.icon-categories:before {
	content: "\e09b";
}

.icon-tag:before {
	content: "\e09c";
}

.icon-tags:before {
	content: "\e09d";
}

.icon-delete-search:before {
	content: "\e09e";
}

.icon-select:before {
	content: "\e09f";
}

.icon-show-versions:before {
	content: "\e0a0";
}

.icon-compare-versions:before {
	content: "\e0a1";
}

.icon-retrieve-versions:before {
	content: "\e0a2";
}

.icon-read-only:before {
	content: "\e0a3";
}

.icon-lock:before {
	content: "\e0a4";
}

.icon-unlock:before {
	content: "\e0a5";
}

.icon-forums-app:before {
	content: "\e0a6";
}

.icon-forums-thread:before {
	content: "\e0a7";
}

.icon-forums-article:before {
	content: "\e0a8";
}

.icon-message-app:before {
	content: "\e0a9";
}

.icon-message:before {
	content: "\e0aa";
}

.icon-mail-setting:before {
	content: "\e0ab";
}

.icon-content-translation-app:before {
	content: "\e0ac";
}

.icon-error-l:before {
	content: "\e0ad";
}

.icon-warning-l:before {
	content: "\e0ae";
}

.icon-info-l:before {
	content: "\e0af";
}

.icon-help-l:before {
	content: "\e0b0";
}

.icon-segments-app:before {
	content: "\e0b1";
}

.icon-segmentation:before {
	content: "\e0b2";
}

.icon-add-segmentation:before {
	content: "\e0b3";
}

.icon-segment:before {
	content: "\e0b4";
}

.icon-add-segment:before {
	content: "\e0b5";
}

.icon-personas-app:before {
	content: "\e0b6";
}

.icon-persona:before {
	content: "\e0b7";
}

.icon-add-persona:before {
	content: "\e0b8";
}

.icon-preview-app:before {
	content: "\e0b9";
}

.icon-has-variants:before {
	content: "\e0ba";
}

.icon-create-variants:before {
	content: "\e0bb";
}

.icon-choose-audience:before {
	content: "\e0bc";
}

.icon-link:before {
	content: "\e0bd";
}

.icon-link-page:before {
	content: "\e0be";
}

.icon-link-document:before {
	content: "\e0bf";
}

.icon-link-assets:before {
	content: "\e0c0";
}

.icon-link-image:before {
	content: "\e0c1";
}

.icon-unlink:before {
	content: "\e0c2";
}

.icon-shape-circle-plus:before {
	content: "\e0c3";
}

.icon-shape-circle:before {
	content: "\e0c4";
}

.icon-shape-triangle-plus:before {
	content: "\e0c5";
}

.icon-shape-triangle:before {
	content: "\e0c6";
}

.icon-tag-2-app:before {
	content: "\e600";
}

.icon-tag-2:before {
	content: "\e601";
}

.icon-add-tag-2:before {
	content: "\e602";
}

.icon-target-app:before {
	content: "\e603";
}

.icon-target:before {
	content: "\e604";
}

.icon-add-target:before {
	content: "\e605";
}

.icon-sitemaps-app:before {
	content: "\e606";
}

.icon-sitemaps:before {
	content: "\e607";
}

.icon-add-sitemaps:before {
	content: "\e608";
}

.icon-collapse-header:before {
	content: "\e609";
}

.icon-extend-header:before {
	content: "\e60a";
}

.icon-external-webpage:before {
	content: "\e60b";
}

.icon-arrow-link:before {
	content: "\e60c";
}

.icon-play-button:before {
	content: "\e60d";
}

.icon-story-button:before {
	content: "\e60e";
}

.icon-i-beacon:before {
	content: "\e60f";
}

.icon-open-node:before {
	content: "\e800";
}

.icon-close-node:before {
	content: "\e801";
}

.icon-resource-files-app:before {
	content: "\e802";
}

.icon-configuration-files-app:before {
	content: "\e803";
}

.icon-web-resources-app:before {
	content: "\e804";
}

.icon-rft-template:before {
	content: "\e805";
}

.icon-rft-configuration-file:before {
	content: "\e806";
}

.icon-rft-web-resource:before {
	content: "\e807";
}

.icon-from-jcr:before {
	content: "\e808";
}

.icon-from-fs:before {
	content: "\e809";
}

.icon-from-classpath:before {
	content: "\e80a";
}

.icon-definitions-app:before {
	content: "\e80b";
}

.icon-dt-generic-definition:before {
	content: "\e80c";
}

.icon-dt-subapp-definition:before {
	content: "\e80d";
}

.icon-dt-template-definition:before {
	content: "\e80e";
}

.icon-dt-dialog-definition:before {
	content: "\e80f";
}

.icon-dt-form-definition:before {
	content: "\e810";
}

.icon-dt-form-field-definition:before {
	content: "\e811";
}

.icon-cut:before {
	content: "\e812";
}

.icon-marker:before {
	content: "\e813";
}

.icon-leaf-node:before {
	content: "\e816";
}

.icon-reference-node:before {
	content: "\e817";
}

.icon-templating-app:before {
	content: "\e818";
}

.icon-connector:before {
	content: "\e900";
}

.icon-solution:before {
	content: "\e901";
}

.icon-extension:before {
	content: "\e902";
}

.icon-paid:before {
	content: "\e903";
}

.icon-free:before {
	content: "\e904";
}

.icon-unsupported:before {
	content: "\e905";
}

.icon-installation:before {
	content: "\e906";
}

.icon-welcome:before {
	content: "\e907";
}

.icon-author-instance:before {
	content: "\e908";
}

.icon-public-instance:before {
	content: "\e909";
}

.icon-analytics-app:before {
	content: "\e90a";
}

.icon-stories-app:before {
	content: "\e90b";
}

.icon-text-block:before {
	content: "\e90c";
}

.icon-embed:before {
	content: "\e90d";
}

.icon-placeholder:before {
	content: "\e90e";
}

.icon-ellipsis:before {
	content: "\e90f";
}